body {
    min-height: 100%;
}

#header {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: aqua;
}

#searchBtn {
    margin-top: 20px;
    width: 350px;
}

#cityInput {
    width: 350px;
}

#searchArea {
    width: 350px;
}

.custom-container {
    margin-left: 0px;
}

#currentWeather {
    font-size: 125%;
    border: 2px solid black;
    padding-bottom: 10px;
}

#weatherArea {
    margin-top: -60px;
    margin-left: 400px;
}

.fiveDay {
    margin-left: 400px;
}

.li {
    background-color: gray;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    padding: 2px;
    font-size: 110%;
}