body {
  min-height: 100vh;
  max-height: 100%;
  background-size: cover;
  background-image: url("https://lh3.googleusercontent.com/CnHg3skxcIhFKh5oE_ZV61x-a-tqWKIWC04a4hWkmQymuBRGlp3Kgnr_d3bEj-jgvPZAM1kh4nkpALUr0bDaUJdzPQ=w640-h400-e365-rj-sc0x00ffffff");
}

header {
  padding-top: 10px;
  font-size: 250%;
  width: 100%;
  height: 6rem;
  text-align: center;
  background-color: rgb(7, 71, 190);
  color: antiquewhite;
}

ul {
  padding-left: 0;
  text-align: center;
}

li {
  background-color: rgb(158, 158, 158);
  border-radius: 4px;
  margin-top: 10px;
  padding: 2px;
  font-size: 110%;
}

.greenback {
  background-color: green;
  padding: 4px;
  border-radius: 4px;
}

.yellowback {
  background-color: yellow;
  padding: 4px;
  border-radius: 4px;
}

.orangeback {
  background-color: orange;
  padding: 4px;
  border-radius: 4px;
}

.redback {
  background-color: red;
  padding: 4px;
  border-radius: 4px;
}

.purpleback {
  background-color: purple;
  padding: 4px;
  border-radius: 4px;
}

.custom-card {
  background-color: rgb(26, 25, 78);
  color: white;
  font-size: 125%;
  flex-shrink: 3;
  width: 14rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 15rem;
}

#cityInput {
  width: 100%;
  color: black;
}

#searchBtn {
  margin-top: 1rem;
  width: 100%;
}

#weather {
  display: none;
  margin-top: 1rem;
}

#currentWeather {
  height: 20rem;
  font-size: 125%;
  border: 0.25rem solid black;
  padding-bottom: 1rem;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.5);
}
